.footer {
    height: 160px;
    background-color: #303030;
    position: relative;
  }
  
  .copyright {
    position: absolute;
    bottom: 0;
    background-color: #202020;
    padding: 20px 0;
    color:white;
    text-align: center;
    width: 100%;
    margin: 0;
  }