.no-top-margin {
  margin-top: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.link {
  transition: 0.2s;
}

.link--bright {
  color: white;
  &:hover {
    color: black;
  }
}

.link--dark {
  color: black;
  &:hover {
    color: #10946e;
  }
}

.link--green {
  color: $green-color;
  &:hover {
    color: #10946e;
  }
}

.text--green {
  color: $green-color;
}
