$grey-color: #f2f3f2;
$green-color: #50bc9d;

$header-bg-color: $green-color;
$header-font-color: white;

$about-bg-color: $grey-color;

$page-min-width: 320px;
$page-max-width: 1040px;
$container-padding: 0 20px;
$container-header-padding: 70px 20px;
$font-primary: 'Montserrat', sans-serif; 