@import 'vars'; 

@import 'general'; 
@import 'utils'; 
@import 'layout'; 

@import 'header'; 
@import 'about';
@import 'skills';
@import 'projects';

@import 'footer';





@media screen and (min-width: 600px) {
  .container {
    max-width: $page-max-width;
  }

  .about {
    max-width: 640px;
  }


  .header__menu-items {
    display: flex;
  }

  .header__menu-toggle {
    display: none;
  }

  .skills {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .skills__main-list {
    flex-direction: row;
  }


  .project {
    width: 400px;;
    background-color: #50bc9d;
    padding: 40px 40px;
  }
}


