.footer {
  position: relative;
  height: 160px;
  background-color: #303030;
}

.copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  margin: 0;
  text-align: center;
  color: white;
  background-color: #202020;
}
