// blocks

.header {
  background-color: $header-bg-color;
  color: $header-font-color;
}

.header__wrapper {
  display: flex;
  padding: $container-header-padding;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu-toggle {
  display: block;

  @include respond-above(xs) {
    display: none;
  }
}

.header__menu-items {
  display: none;

  @include respond-above(xs) {
    display: flex;
  }
}

.header__menu-item {
  margin: 0px 10px;
  text-transform: uppercase;

  &:last-child {
    margin-right: 0;
  }
}
