// blocks

.header {
  min-width: $page-min-width;
  background-color: $header-bg-color;
  color: $header-font-color;
}

.header__title {
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu-toggle {
  display: block;
}

.header__menu-items {
  display: none;
}

.header__menu-item {
  margin: 0px 10px;
  text-transform: uppercase;
}

.header__link {
  color: white;
  transition: 0.2s;
}

.header__link:hover {
  color: black;
}
