.container {
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  min-width: $page-min-width;
  padding: $container-padding;
}

.container--small {
  max-width: 680px;
}

.container--big {
  padding: $container-header-padding;
  justify-content: space-between;
  align-items: center;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-col {
  align-items: center;
  flex-direction: column;
}

.about {
  flex-direction: column;
  align-items: center;
}
