
.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: $projects-max-width;
}

.project {
  width: $project-item-width;
  background-color: $green-color;
  padding: $project-item-padding;
  margin: $project-item-margin;
  box-sizing: border-box;
}

.project__title {
  text-align: center;
  margin-top: 0;
  width: 100%;
}

.project__meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: $project-meta-height;
}

.project__date {
  color: $project-date-color;
}

.project__technologies-item {
  text-align: center;
}

.project__technologies-item--big {
  margin: 5px 0;
  font-size: 13px;
}

.project__sources {
  text-align: center;
  font-size: $project-sources-font-size;
}

.project__description {
  box-sizing: border-box;
  margin-left: 20px;
}