@import './abstracts/variables'; 
@import './abstracts/media_queries'; 

@import './base/base';
@import './base/helpers';

@import './layout/helpers'; 
@import './layout/section';
@import './layout/header'; 
@import './layout/footer'; 

@import './components/link';
@import './components/about';
@import './components/projects';
@import './components/skills';


@media screen and (min-width: 600px) {
  .container {
    max-width: $page-max-width;
  }

  .about {
    max-width: 640px;
  }

  .header__menu-items {
    display: flex;
  }

  .header__menu-toggle {
    display: none;
  }

  .skills {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .skills__main-list {
    flex-direction: row;
  }


  .project {
    width: 400px;;
    background-color: #50bc9d;
    padding: 40px 40px;
  }
}


