$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

$grey-color: #f2f3f2;
$green-color: #50bc9d;
$green-color-hover: #10946e;

$link-bright: white;
$link-bright-hover: black;

$link-dark: black;
$link-dark-hover: $green-color-hover;

$link-green: $green-color;
$link-green-hover: $green-color-hover;

$font-primary: 'Montserrat', sans-serif; 

$container-max-width-small: 680px;
$page-min-width: 320px;
$page-max-width: 1040px;

$container-padding: 0 20px;
$container-header-padding: 70px 20px;
$projects-max-width: 1800px;
$project-item-width: 400px;

$header-bg-color: $green-color;
$header-font-color: white;

// now I think they are unnecessary...
$project-item-padding: 40px 20px;
$project-item-margin: 20px 10px;

$project-date-color: white;
$project-meta-height: 250px;
$project-sources-font-size: 20px;